# OpenAI
OPENAI_API_KEY = "Enter key here"

# AWS
AWS_ACCESS_KEY_ID = "Enter key here"
AWS_SECRET_ACCESS_KEY = "Enter key here"
AWS_REGION = "Enter region here"
S3_BUCKET_NAME = "Enter bucket name here"
